*{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
}

html,body{
    width:100%;
    background-color:#f4f4f4;
}

.top-nav{
    height:35px;
    width:100%;
}


.top-nav .top-nav-content{
    height:35px;
    width:1190px;
    margin:0px auto;
    boder:1px solid #eee;
}

.top-nav .top-nav-content .top-nav-left{
    float:left;
}
.top-nav .top-nav-content .top-nav-right{
    float:right
}
.top-nav .top-nav-content li{
    float:left;
    line-height: 35px;
    padding:0px 8px;
}
.top-nav .top-nav-content li a{
    color:#6c6c6c;
    font-size:12px;
}

.top-nav .top-nav-content li a:hover,
.top-nav .top-nav-content .login
{
    color:#f40;
}

.top-nav .top-nav-content .china{
    color:#3c3c3c;
    font-size:12px;
}

.top-nav .top-nav-content .cutline{
    color:#ddd;
}









