/*全局基础设置开始*/
*{
    margin:0px;
    padding:0px;
    list-style: none; /*去掉ul样式*/
    text-decoration: none;/*去掉a标签下划线*/
}

html,body{
    width:100%;
    background-color:#f4f4f4;
}
/*全局基础设置完毕*/

/*顶部导航设置开始*/
.top-nav{
    height:35px;
    width:100%;
    border:1px solid #eee;
}


.top-nav .top-nav-content{
    height:35px;
    width:1190px;
    margin:0px auto;
}

.top-nav .top-nav-content .top-nav-left{
    float:left;
    height:35px;
}
.top-nav .top-nav-content .top-nav-right{
    float:right;
    height:35px;
}
.top-nav .top-nav-content li{
    float:left;
    line-height: 35px;
    padding:0px 6px;
}
.top-nav .top-nav-content li a{
    color:#6c6c6c;
    font-size:12px;
}

.top-nav .top-nav-content li a:hover,
.top-nav .top-nav-content .login
{
    color:#f40;
}

.top-nav .top-nav-content .china{
    color:#3c3c3c;
    font-size:12px;
}

.top-nav .top-nav-content .cutline{
    color:#ddd;
    font-size:12px;
}

.top-nav .top-nav-content .bgpic{
    display:inline-block;
    width:6px;
    height:3px;
    vertical-align: middle;/*垂直居中*/
    background-size:100% 100%;
}

.top-nav .top-nav-content .xsjpic{
    background-image: url('img/xsj.png');
}

.top-nav .top-nav-content .shopcar{
    width:7px;
    height:7px;
    vertical-align: middle;
    background-image: url('img/gwc.png');
}

.top-nav .top-nav-content .like{
    width:7px;
    height:7px;
    vertical-align: middle;
    background-image: url('img/star.png');
}

.top-nav .top-nav-content .webnav{
    width:7px;
    height:7px;
    vertical-align: middle;
    background-image: url('img/dh.png');
}
/*顶部导航区结束*/
.top-search{
    background-color:#fff;
    width:100%;
    height:97px;
    padding-top:24px;
}

.top-search .top-search-content{
    width:1190px;
    margin:0px auto;
    height:97px;
}


.top-search .top-search-content .top-search-logo a{
    float:left;
    width:190px;
    height:80px;
}
.top-search .top-search-content .logo{
    display:inline-block;
    background-image:url('img/logo.png');
    width:100%;
    height:100%;
}

.top-search .top-search-content .top-search-main{
    position: relative;
    margin-left:218px;
    margin-right:145px;
    height:97px;
    /* border:1px solid red; */
}


.top-search .top-search-content .top-search-main .tsm-scopenav{
    margin-top:5px;
    font-size:12px;
    padding-left:17px;
    height:20px;
}



.top-search .top-search-content .top-search-main .tsm-scopenav li{
    float:left;
    color:#f40;
    line-height:20px;
    font-weight: 700;
    width:35px;
    text-align: center;
}

.top-search .top-search-content .top-search-main .tsm-scopennav li:hover{
    background-color:#ffeee5;
}

.top-search .top-search-content .top-search-main .tsm-scopenav .select{
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    border-radius: 8px 8px 0 0;
}

.top-search .top-search-content .top-search-main .tsm-search-main{
    position:relative;
    height:40px;
    width:627px;
    /* border:1px solid black; */
}

.top-search .top-search-content .top-search-main .search-button-box{
    position: absolute;
    right:0px;
    top:0px;
    height:40px;
    width:74px;
    
}

.top-search .top-search-content .top-search-main .search-button{
    border:none;
    font-size:18px;
    font-weight:700;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    height:100%;
    width:100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-search .top-search-content .top-search-main .search-box{
    height:36px;
    width:600px;
    border:2px solid #f40;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:none;
    vertical-align:middle;
    overflow: hidden;
}

.top-search .top-search-content .top-search-main .search-box input{
    padding:5px 0;
    text-indent: 30px;/*文本首行缩进*/
    height:28px;
    width:472px;
    overflow: hidden;
    border:none;
    outline:0;
}

.top-search .top-search-content .top-search-main .tsm-search-main a{
    position: absolute;
    height:100%;
    width:100px;
    top:0px;
    right:50px;
    text-align: center;
}

.top-search .top-search-content .top-search-main .tsm-search-main .camare-pic{
    display:inline-block;
    height:20px;
    width:25px;
    background-image:url('img/camera.png');
    background-repeat: no-repeat;
    text-align: center;
    margin:9px 0;
}


.top-search .top-search-content .top-search-main .tsm-search-main .magnify-box{
    position:absolute;
    left:14px;
    top:11px;
    height:15px;
    width:15px;
}

.top-search .top-search-content .top-search-main .tsm-search-main .magnigy-pic{
    display:inline-block;
    height:100%;
    width:100%;
    text-align:center;
    background:url('img/fdj.png') no-repeat;
    background-size:100% 100%;
}



.top-search .top-search-content .top-search-main .tsm-hots{
    padding-top:5px;
    height:20px;
    width:627px;
    /* border:1px solid black; */
    font-size:12px;
    line-height: 20px;
}


.top-search .top-search-content .top-search-main .tsm-hots .tsm-hots-nav li{
    float:left;
    padding:0 4px;
}

.top-search .top-search-content .top-search-main .tsm-hots a{
    color:#666;
}

.top-search .top-search-content .top-search-main .tsm-hots a:hover{
    color:#f40;
}

.top-search .top-search-content .top-search-main .tsm-hots #more{
    float:right;
}

.top-search .top-search-content .top-search-main .tsm-hots #more span{
    margin:0 4px;
    vertical-align: middle;
}

.top-search .top-search-content .top-search-main .tsm-hots .yjtpic{
    display:inline-block;
    width:5px;
    height:5px;
    vertical-align: middle;
    background-size:100% 100%;
    background-image: url('img/yjt.png');
}


.top-search .top-search-content .top-search-main .top-search-qrcode{
    position: absolute;
    right:-10px;
    top:-4px;
    border:1px solid #eee;
    width:74px;
    height:88px;
}

.top-search .top-search-content .top-search-main .top-search-qrcode .qrcode-box{
    margin:0 auto;
    width:62px;
}

.top-search .top-search-content .top-search-main .top-search-qrcode .qrcode-pic{
    display:inline-block;
    width:62px;
    height:62px;
    background:url('img/ewm.png') no-repeat;
    background-size:100% 100%;
}
        
.top-search .top-search-content .top-search-main .top-search-qrcode .qrcode-font{
    display:inline-block;
    width:62px;
    margin:0 auto;
    text-align: center;
    font-size:13px;
    color:#f40;
    line-height:20px;
    background-color:#fff;
}

.system-nav {
    width:100%;
    height:30px; 
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.system-nav .system-nav-main{
    width:1190px;
    height:100%;
    border:1px solid black;
    margin:0 auto;
 }

.system-nav .system-nav-main .nav-font{
   font-size:16px;
    line-height:30px;
    color:#fff;
    font-weight: 600;
}

.system-nav .system-nav-main .theme{
    float:left;
    width:190px;
    text-align:center;
    background-color:#ff5000;
}

.system-nav .system-nav-main .system-nav1{
    float:left;
}

.system-nav .system-nav-main .system-nav1 li{
    float:left;
    padding :0 12px;
}
